{% extends "layout.njk" %}


{% block title %}
        <title>Rocketseat - Sobre </title>
{% endblock %}

{% block content %}

    <main>
        <div class="content">
            <img src="img/logo.jpg" alt="">
            <h1>Rocketseat</h1>
            <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀</p>
        </div>

        <div class="tecnologies">
            <h1>
                Principais tecnologias utilizadas
            </h1>
            <ul>
                <li>
                    <img src="img/html5.svg" alt="">
                    <span>
                        HTML 5</span>
                </li>
                <li>
                    <img src="img/css3.svg" alt="">
                    <span>
                        CSS 3
                    </span>
                </li>
                <li>
                    <img src="img/curso-javascript.svg" alt="">
                    <span>
                        JavaScript
                    </span>
                </li>
                <li>
                    <img src="img/curso-javascript-es6.svg" alt="">
                    <span>
                        JS ES6+
                    </span>
                </li>
                <li>
                    <img src="img/curso-nodejs.svg" alt="">
                    <span>
                        NodeJS
                    </span>
                </li>
                <li>
                    <img src="img/curso-reactjs.svg" alt="">
                    <span>
                        ReactJS
                    </span>
                </li>
                <li>
                    <img src="img/curso-react-native.svg" alt="">
                    <span>React Native</span>
                </li>
            </ul>
        </div>
    </main>
    
{% endblock %}