{% extends "layout.njk" %}


{% block title %}
        <title>Rocketseat - {{course.course}} </title>
{% endblock %}

{% block content %}

    <main>
        <div class="course {{course.course}}">
            <div class="logo">
                <img src="/img/{{course.course_image}}" alt="">
            </div>
            <div class="details">
                <p>{{course.description}}</p>
                <span> <a href="https://www.rocketseat.com.br/{{course.course}}" target="_blank"> Mais detalhes </a></span>
            </div>
        </div>
    </main>
    
{% endblock %}