{% extends "layout.njk" %}

{% block title %}
        <title>Rocketseat - Início </title>
{% endblock %}

{% block content %}
    <main>
        <div class="content-index">
            <div class="info">
                <h1>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h1>
                <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>
            </div>
            <img src="/img/melhores-tecnologias.svg" alt="">
        </div>
    <main>
{% endblock %}