{% extends "layout.njk" %}

{% block title %}
        <title>Error 404 - Not Found </title>
{% endblock %}

{% block content %}
    <main>
        <div class="error">
            <h1>Página não encontrada</h1>
            <img src="/img/error.svg" alt="">
        </div>
    <main>
{% endblock %}